
  <div id="info_generale_page">
 
     <section id="pagesite">

         <div id="page1">
                  <h3>questions frequement poser</h3>
                  
                  <p>
                  	 Aucune n'offre pour le moment.
                  	</p>
                  	
                    </div> 
                    
                    
                    
     <div id="appear_demo" style="display:none; width:80px; height:80px; background:#000000; border:1px solid #333;"></div>
<ul>
  <li><a href="#" onclick="$('appear_demo').appear(); return false;">Click here for a demo!</a></li>
  <li><a href="#" onclick="$('appear_demo').hide(); return false;">Reset</a></li>
</ul>

                          
     </section>
     
 </div>   	
        
  