
  <div id="info_generale_page">
 
     <section id="pagesite">

                                <div id="page1">
                                    <h3>Le E-Commerce</h3>
                                         <p class="firstp">on appelle <strong>e-commerce </strong> l' utilisation d'un média électronique pour la realisation de transactions commerciales. </p> <p>La plupart du temps il s'agit de la vente de produits à travers le reseau internet, mais le terme de eCommerce englobe aussi les mécanismes d'achat par internet (pour le B-To-B).  </p>

                                           

                                               <p class="monp2">Votre future site de ecommerce c'est:</p>
                                               <ul>
                                                   <li><img src="../image/ok1.jpeg" alt="site web" width="20" height="20"> une Technique d'achat rapide et simplifié</li>
                                                   <li> <img src="../image/ok1.jpeg" alt="site web" width="20" height="20">une recherche simplifiee : le client doit pouvoir tres rapidement trouver<br /> le produit qu'il recherche </li>
                                                   <li> <img src="../image/ok1.jpeg" alt="site web" width="20" height="20">une ergonomie  visant à inciter le client à acheter vos produits</li>
                                                   <li><img src="../image/ok1.jpeg" alt="site web" width="20" height="20"> un site optimisé pour le référencement naturel </li>
                                            </ul>
                                     </div>       
                       </section>



                                  

                                 </div>  <!-- div box_link_page -->
                </div>  <!-- div  info generale-->

               