
  <div id="content">
  	
  	<div id="animation">
  		<%= render 'layouts/galerie' %>
  		</div>
                
      <div id="info_generale">
             <div id="offre1">
                       <h3> Offre hébergement de 500Mo</h3>
                       <p>Obtenez un espace de 500 Mo sur le web et faite connaitre votre entreprise </p>
                       <div id="prix1">
                       <p> <%= link_to "je continue", offre_500_path %></p>
                      </div>
             </div>

             <div id="offre2">
                      <h3> Offre hébergement de 1Go     </h3>
                      <p>Obtenez un espace de 1G0 sur le web et faite connaitre votre entreprise </p>
                      <div id="prix2">
                      <p> <%= link_to "je continue", offre_1g_path %>   </p>
                      </div>
             </div>

             <div id="offre3">
                      <h3>Domaine disponible</h3>
                  <div id="domaine1">
                      <p> <strong class="point1">.</strong>COM </p>
                   </div>
                    <div id="domaine2">
                       <p> <strong class="point1">.</strong>BIZ</p>
                  </div>

                    <div id="domaine3">
                       <p> <strong class="point1">.</strong>ORG</p>
                  </div>
                    <div id="domaine4">
                       <p> <strong class="point1">.</strong>NET</p>
                  </div>
                    <div id="domaine5">
                       <p> <strong class="point1">.</strong>INFO</p>
                  </div>
                   <a class="whois" href="whois.php">Je reserve  mon domaine </a>


             </div>
                         
           <div id="offre4">
                     <h3> Offre developpement Site Web  </h3>
                     <p>Faites developper votre site web chez nous  et faite le heberger ici  ou  ailleurs. </p>
                     <div id="prix4">
                    <!-- <p> A partir de <strong>35000FCFA</strong>-->  <a href="pages/offre4.php"> je continue </a> </p>
                     </div>
          </div>

       <!--  <div id="box_link">
                 <div id="box2_2">
                         <div id="media">
                              <p class="mediap">Nous sommes sur </p>
                              <p><a href="#" class="push_button">facebook </a></p>
                              <p><a href="#" class="push_button2">twitter </a></p>
                              <p><a href="#" class="push_button3">You<strong>Tube</strong> </a></p>
                          </div>
                 </div>-->

                
          </div>
          
          
</div>

</div>
</body>
</html>
