<div id="offre">
	<h1> Offre Hebergement 1Go  </h1>
<table border="0" class="table">
<tr class="line"> 
 <td class="colonne1">Messagerie(Couriel) </td>
 <td class="colonne1">Administration </td>
 <td class="colonne1">Technologie et programation</td>
 <td class="colonne1">Securité </td>
 <td class="colonne1">Logiciel inclus </td>	
 <td class="colonne1">Prix Mensuel </td>
</tr>	

<tr class="line"> 
 <td class="colonne"> 100compte@votredomaine </td>
 <td class="colonne"> Interface CPanel securitaire </td>
 <td class="colonne"> PHP 5</td>
 <td class="colonne"> Surveillance serveur 24/24</td>
 <td class="colonne"> Wordpress </td>	
</tr>	

<tr class="line"> 
 <td class="colonne"> Redirections des couriels </td>
 <td class="colonne"> 5 comptes FTP </td>
 <td class="colonne"> MySql 5 et PhpMyadmin </td>
 <td class="colonne">Sauvegarde reguliere <!--<strong class="inclus">*</strong>--> </td>
 <td class="colonne"> Joomla </td>	
</tr class="colonne">	

<tr class="line"> 
 <td class="colonne"> Email Alias</td>
 <td class="colonne"> 10 sous-domaine  </td>
 <td class="colonne"> Librairies Graphique GD  </td>
 <td class="colonne"> Controle de version Github <strong class="inclus">* </strong></td>
 <td class="colonne"> Logiciel SiteBuilder<!--<strong class="inclus">* </strong> --></td>	
</tr>	


<tr class="line"> 
 <td class="colonne"> Plate forme marketing par couriel </td>
 <td class="colonne"> ...</td>
 <td class="colonne"> Librairie ImageMagick </td>
 <td class="colonne"> Protection Force Brute </td>
 <td class="colonne"> Template de site Web </td>	
</tr>	

<tr class="line"> 
 <td class="colonne"> Auto-répondeurs </td>
 <td class="colonne"> ...</td>
 <td class="colonne"> CGI-BIN </td>
 <td class="colonne"> Protection Hotlinking </td>
 <td class="colonne"> ... </td>	
</tr>	

<tr class="line"> 
 <td class="colonne"> Anti-virus</td>
 <td class="colonne"> ...</td>
 <td class="colonne"> Librairie cURL</td>
 <td class="colonne">... </td>	
 <td class="colonne">... </td>
 <td class="colonne">2250FCFA </td>
</tr>	
</table>

<h1>Option de paiement</h1>
<div id="mensuel">
	<h3>Mensuel</h3>
 <p class="paiement"><strong>2250</strong> FCFA </p>
</div>

<div id="trimestriel">
	<h3>Trimestriel </h3>
 <p class="paiement"><strong>6500</strong> <br />FCFA au lieu de <br /><s>6750 FCFA</s> </p>
</div>
<div id="semestre">
	<h3>Semestriel </h3>
 <p class="paiement"><strong>13000</strong><br /> FCFA au lieu de <br /> <s>13500 FCFA</s> </p>
</div>
<div id="anuel">
	<h3>Annuel</h3>
 <p class="paiement"><strong>26000</strong><br /> FCFS au lieu de <br /> <s>27000 FCFA</s> </p>
</div>

<p class="paiement"><strong class="inclus">*</strong> Inclus à votre demande mais pas gratuit  </p>
<p class="paiement"> Paiement par virement bancaire  </p>
<p class="paiement">Paiement à la caise </p> 
<p class="paiement">Paiement par transfert </p>
</div>
