
  <div id="info_generale_page">
    <section id="pagesite">

                                <div id="page1">
                                    <h3> Le Responsive Web </h3>
                                    <p class="firstp">Le Responsive web est une Technique de conception web permettant d'addapter votre site Internet  aux differentes resoultion d'écran présent sur le marche. </p>
                                    <p class="monp">L'existance de different appareils suppose que chaque appreil est utilise de fa&ccedil;on différent et à des momment different de la journée:</p>
                                    <ul>
                                       <li class="monp"> Smartphone:  dans le transport au retour du travaill</li>
                                       <li class="monp"> L'ordinateur: au bureau durant la journée</li>
                                       <li class="monp"> La tablette: sur son canapé</li>
                                       <li class="monp">Le e-reader: dans son lit</li>
                                    </ul>
                                        <p> Concevoir differentes version de votre site, c'est rester en contact avec votre public cible 24 heures sur 24 </p>
                                        <p> De m&ecirc;me nous nous assurons qu'il soit accessible sur les navigateurs tel que Intertnet explorer, Firefox,Opera, Google Chrome </p>
                                        <p class="monp2">Proposer une solution mobile à votre clientelle c'est:</p>
                                     <ul>
                                         <li><img src="../image/ok1.jpeg" alt="site web" width="20" height="20">Permetre un acces rapide à vos produits et ou service en tout lieu </li>
                                         <li><img src="../image/ok1.jpeg" alt="site web" width="20" height="20">Avoir acess à l'information en temps reel </li>
                                         <li><img src="../image/ok1.jpeg" alt="site web" width="20" height="20">Multiplier les occasions d'achat  </li>
                                         <li><img src="../image/ok1.jpeg" alt="site web" width="20" height="20">informer en fonction de la geolocalisation de l'internaute </li>
                                    </ul>


                                               </div>


                       </section>



                                
                                 </div>  <!-- div box_link_page -->
                </div>  <!-- div  info generale-->

               