<div id="content">
    <div id="info_generale_page">
        <section id="pagesite">
        	<div id="page1">
        			<h3> Site web</h3>
                     <p class="firstp">Un site web rentable et adapté à vos besoin, nous le realisons <strong> avec vous </strong> et <strong>pour vous</strong> </p>

                      <div id="page1_1">
                         <p></p>
                      </div>
                 
                     <p class="monp"> Vous &ecirc;tes à la bonne adresse pour vos projets de <strong>conception,création ou refonte des sites Internet. </strong></p>
                     <p> Nous travaillons à rendre votre site web tant au niveau de l'ergonomie que de la navigation agréable sur les differents écrants de:<strong> Smartphone,tablettes ,mobiles, fixes </strong></p>
                     <p> De meme nous nous assurons qu'il soit accessible sur les navigateurs moderne telque:<strong>Intertnet explorer, Firefox,Opera, Google Chrome </strong></p>
                                     

               </div>
        </section>

        <div id="box_link_page">
                <div id="box2_2_page">
                     <div id="media_page">
                         <p class="mediap">Nous sommes sur</p>
                         <p><a href="#" class="push_button"> Facebook </a></p>
                         <p><a href="#" class="push_button2">  twitter </a></p>
                         <p><a href="#" class="push_button3">  You<strong>Tube</strong> </a></p>
                     </div> <!-- div media_page -->
                </div> <!--  div box2_2_page -->

                <div id="box2_3_page">
                      <p class="com"> .com </p>
                      <p class="org"> .org </p>
                      <p class="net"> .net </p>
                      <p class="biz"> .biz </p>
                      <p class="info"> .info </p>

                </div> <!-- div box2_3_page -->


         </div>  <!-- div box_link_page -->
   </div>  <!-- div  info generale-->

                

   </div>

