<footer>
       <ul id="footer1">
                      <li> <a href="pages/qui_sommes_nous.php"> Qui sommes nous </a></li>
                      <li> <a href="pages/web_marketing.php">Web Marketing </a></li>
                     <li> <a href="pages/media_sociaux.php">Media Sociaux</a> </li>
       </ul>

      <ul id="footer2">
                    <li><a href="pages/site_web.php"> Site web </a> </li>
                    <li><a href="pages/Responsive_web.php"> Responsive Web </a></li>
                    <li><a href="pages/ecommerce.php">E-Commerce</a></li>
                    <li><a href="pages/qfp.php"> QFP </a></li>
                    <li><a href="pages/contact">Contact </a> </li>
      </ul>

       <ul id="footer3">
                  <li><a  href="pages/mention_legale">Mentions légale </a></li>
                  <li><a href="pages/vie_privee"> Protection de la vie privée</a></li>
       </ul>

        <div id="footer_text"> <p></p></div>

</footer>